<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <style>
    table, th, td {
      border: 1px solid black !important;
    }
    th, td {
      padding: 7px;
      text-align: center;
    }
    thead tr:nth-child(odd) {background-color: #c1c1c1;}
    tbody tr:nth-child(even) {background-color: #c1c1c1;}
  </style>
  <body class="container">
    <header>
      <%- include('partials/header'); %>
    </header>

    <main>
      <div class="p-5 mb-4 bg-light rounded-3">
        <table>
          <thead>
            <tr>
              <th>Filename</th>
              <th>Title <input type="checkbox" id="title-filter" name="title-filter">
              <input type="text" size=16 id="title-filter-text" name="title-filter-text" value="<%= search_params.title_filter_query %>">
              </th>
              <th>Artist <input type="checkbox" id="artist-filter" name="artist-filter">
              <input type="text" size=14 id="artist-filter-text" name="artist-filter-text" value="<%= search_params.artist_filter_query %>">
              </th>
              <th>Album <input type="checkbox" id="album-filter" name="album-filter">
              <input type="text" size=10 id="album-filter-text" name="album-filter-text" value="<%= search_params.album_filter_query %>">
              </th>
              <th>Year <input type="checkbox" id="year-filter" name="year-filter">
              <input type="text" size=6 id="year-filter-text" name="year-filter-text" value="<%= search_params.year_filter_query %>">
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% songs.forEach(function(song) { %>
              <tr>
                <td><%= song.filename %></td>
                <td><%= song.title %></td>
                <td><%= song.artist %></td>
                <td><%= song.album %></td>
                <td><%= song.year %></td>
                <td><a href="/songs/edit?filename=<%= song.parentPath + '\\' + song.filename %>">Edit</a></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <%- include('partials/footer'); %>
    </footer>
    <script src="list.js"></script>
    <script>
      title_input.checked = <%= search_params.title_filter_null %>;
      artist_input.checked = <%= search_params.artist_filter_null %>;
      album_input.checked = <%= search_params.album_filter_null %>;
      year_input.checked = <%= search_params.year_filter_null %>;
    </script>
  </body>
</html>
